 body {
	margin: 3% 5% 0% 0%;
	color: black !important;
}

ul li {
	list-style-type: none;
	opacity: 1;
	padding: 5px;
	cursor: pointer;
}

ul li:hover {
	background-color: #e99e9e;
	padding: 5px;
}

label {
	color: black !important;
	font-weight: bold;
}

.hide-tree-items {
	display: none;
}

.show-tree-items {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
	display: inline-block;
}

.content-right {
	float: right;
}